Markdown
markdown-it-py
MarkupSafe
matplotlib
numerize
numpy
oauthlib
openpyxl
opt-einsum
packaging
pandas
pandas-profiling
streamlit
streamlit-apexjs
streamlit-extras
streamlit-faker
streamlit-card
streamlit-elements
streamlit-option-menu
streamlit-pandas-profiling
plotly
plotly-express
scikit-learn
seaborn
pandas-profiling
streamlit-option-menu
pandas-profiling
openpyxl
numerize
numpy
markdown-it-py
markdownlit
MarkupSafe
